.cb_holder{
    width: 50%;
    min-height: 150px;
    height: auto;
    border: 1px solid var(--chat-color-gray);
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgba(43,50,64,0.12);
    z-index: 5;
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.cb_textarea{
    width: 100%;
    position: relative;
    z-index: 3;
    field-sizing: content;
    max-height: 215px;
    padding-right: 15px;
    overflow-y: scroll;
    cursor: auto;
}
.cb_textarea::placeholder{
    color: var(--chat-color-gray);
}

.cb_infoholder{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: end;
    align-items: center;
    height: 25px;
    gap: 15px;
}

.cbody_lower_backclick{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}

.cb_arrow{
    border-radius: 50%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-out;
    position: relative;
}
.cb_arrowactive{
    cursor: pointer;
}
.cb_arrowactive:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore-hover);
    color: #fff;
}
.cb_arrowdeactive{
    cursor: not-allowed;
}
.cb_arrowdeactive:hover{
    background-color: var(--chat-color-gray);
    color: #fff;
}

.cb_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}

.cb_loading{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.cb_arrowload{
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.cb_holder_bottom{
    width: 70%;
    background-color: #fff;
    border: 1px solid var(--chat-color-gray);
    min-height: var(--chatmain-ask-minheight);
    max-height: var(--chatmain-ask-maxheight);
    border-radius: 25px;
    position: absolute;
    bottom: 15px;
    z-index: 5;
    box-shadow: 0px 8px 20px 0px rgba(43,50,64,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
}

.cb_uploadtext{
    position: absolute;
    width: 115px;
    padding: 5px 15px;
    border-radius: 30px;
    pointer-events: none;
    opacity: 0;
    bottom: -65px;
    transition: 0.1s ease-out;
    transform: translateY(20px);
    background-color: var(--chat-color-gray-light);
    color: #fff;
    z-index: 3;
}
.cb_uploadbody{
    bottom: -65px;
    transform: translateY(20px);
}
.cb_uploadmain{
    bottom: 50px;
    transform: translateY(-10px);
}

.cb_upload:hover > .cb_uploadtext{
    opacity: 1;
    transform: translateY(0); 
}