.cn_holder{
    width: var(--chatnav-width);
    height: 100%;
    position: relative;
    background-color: var(--chat-color-blue-light);
    display: flex;
    flex-direction: column;
}

.cn_utils{
    width: 100%;
    height: 100px;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}

.cn_util_item{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 25px;
    transition: 0.1s ease-out;
    position: relative;
    background-color: var(--nav-color-bubble-lighter);
    border: 2px solid var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.cn_util_item:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: #fff;
    border: 2px solid #fff;
}

.cn_util_search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    padding: 7px 15px;
    gap: 15px;
    border-radius: 25px;
    position: relative;
    transition: 0.1s ease-out;
}
.cn_util_search>input{
    width: 65%;
    display: block;
    background-color: transparent;
}

.cn_util_xclose{
    position: absolute;
    right: 0;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: 0.1s ease-out;
}
.cn_util_xclose:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.cn_info{
    margin-top: 50px;
    flex: 1;
    overflow-y: scroll;
    position: relative;
}

.cn_info_text{
    color: var(--chat-color-gray-strong-more);
    padding: 0 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/*May not need backline ???*/
.cnav_info_backline{
    width: 100%;
    height: 2px;
    background-color: var(--chat-color-gray);
}

.cn_info_container{
    margin-top: 25px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cn_info_date{
    color: var(--chat-color-gray-strong);
    margin-bottom: 20px;
    margin-top: 50px;
}

.cn_info_chat_holder{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    z-index: 3;
}
.cn_info_chat{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.cn_info_chat_title{
    font-weight: 300;
    z-index: 2;
}

.cn_info_chat_options{
    position: relative;
    transition: 0.1s ease-out;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.cn_info_chat_options:hover{
    opacity: 1;
}
.cn_info_chat_options>*{
    pointer-events: none;
}

.cnav_info_chat_options_popup{
    width: var(--chatnav-dim-popup);
    height: var(--chatnav-dim-popup);
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    border: solid 1px var(--chat-color-gray);
    right: -15px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: transform 0.1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 25px 15px;
    box-shadow: 0px 8px 20px 0px rgba(43,50,64,0.12);
    transform: scale(0.8, 0.8);
}

.cn_remove_popup{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.cnav_info_chat_options_popup>div{
    align-items: center;
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 20px 15px;
    justify-content: space-between;
    cursor: pointer;
    height: 24px;
    border-radius: 25px;
    transition: 0.1s ease-out;
}
.cnav_info_chat_options_popup>div:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: #fff;
}

.cnav_info_chat_options_main{
    width: var(--chatnav-dim-main-popup-w);
    height: var(--chatnav-dim-main-popup-h);
    background-color: #fff;
    border: 1px solid var(--chat-color-gray);
    position: absolute;
    top: calc((0px - var(--nav-height) + var(--chatnav-dim-main-popup-h))/2);
    right: calc((100vw - var(--chatnav-dim-main-popup-w))/2);
    z-index: 9;
    padding: 25px 50px;
    border-radius: 25px;
    box-shadow: 0px 8px 20px 0px rgba(43,50,64,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.1s ease-out;
    opacity: 0;
    pointer-events: none;
    transform: sclae(0.8, 0.8);
}

.cnav_info_chat_options_header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.cnav_info_chat_options_close{
    position: absolute;
    cursor: pointer;
    right: 0;
}
.cnav_info_chat_options_close>*{
    pointer-events: none;
}

.close_rename:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.close_delete:hover{
    color: var(--chatnav-color-delete-light);
}

.title_rename{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.title_delete{
    color: var(--chatnav-color-delete-light);
}

.cnav_info_chat_options_body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cnav_info_chat_options_input{
    position: relative;
    width: 100%;
    border: 2px solid var(--color-text-gray-root-light);
    border-radius: 25px;
    padding: 5px 25px;
}
.cnav_info_chat_options_input:focus{
    border: 2px solid var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.cnav_info_chat_options_text{
    font-weight: 200;
    color: var(--chat-color-gray-strong);
}

.cnav_info_chat_options_click_holder{
    position: relative;
    width: 100%;
    justify-content: end;
    display: flex;
    gap: 25px;
}

.cnav_info_chat_options_click{
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 300;
}

/*.cnav_info_cancel{
    border: 1px solid var(--chat-color-gray);
    border-radius: 25px;
}*/
.cnav_info_cancel:hover{
    background-color: var(--chat-color-gray-light);
}

.cnav_info_rename{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: #fff;
}
.cnav_info_rename:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter);
}

.cnav_info_delete{
    background-color: var(--chatnav-color-delete-light);
    color: #fff;
}
.cnav_info_delete:hover{
    background-color: var(--chatnav-color-delete-strong);
}

.cnav_info_chat_options_back{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 7;
}

.rename_block{
    cursor: not-allowed;
}

.cn_info_chat_select{
    background-color: var(--chat-color-blue-strong-more);
}
.cn_info_chat_notselect{
    cursor: pointer;
}
.cn_info_chat_notselect:hover{
    background-color: var(--chat-color-blue-strong);
}
