.cn_holder{
    width: var(--chatnav-width);
    height: 100%;
    position: relative;
    background-color: var(--chat-color-blue-light);
    display: flex;
    flex-direction: column;
}

.cn_utils{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
}

.cn_util_item{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 25px;
    transition: 0.1s ease-out;
    position: relative;
    background-color: var(--nav-color-bubble-lighter);
    border: 2px solid var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.cn_util_item:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: #fff;
    border: 2px solid #fff;
}

.cn_util_search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    padding: 7px 15px;
    gap: 15px;
    border-radius: 25px;
    position: relative;
    transition: 0.1s ease-out;
}
.cn_util_search>input{
    width: 65%;
    display: block;
    background-color: transparent;
}

.cn_info{
    margin-top: 50px;
    flex: 1;
    overflow-y: scroll;
    position: relative;
}

.cn_info_text{
    color: var(--chat-color-gray-strong-more);
    padding: 0 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.cn_info_container{
    margin-top: 25px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cn_info_date{
    color: var(--chat-color-gray-strong);
    margin-bottom: 20px;
    margin-top: 50px;
}

.cn_info_chat_holder{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    z-index: 3;
}
.cn_info_chat{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.cn_info_chat_title{
    font-weight: 300;
    z-index: 0;
}

.cn_info_chat_bg{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.cn_info_chat_options{
    position: relative;
    transition: 0.1s ease-out;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.cn_info_chat_options:hover{
    opacity: 1;
}
.cn_info_chat_options>*{
    pointer-events: none;
}

.cn_remove_popup{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.close_rename:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.close_delete:hover{
    color: var(--chatnav-color-delete-light);
}

.title_rename{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.title_delete{
    color: var(--chatnav-color-delete-light);
}

.rename_block{
    cursor: not-allowed;
}

.cn_info_chat_select{
    background-color: var(--chat-color-blue-strong-more);
}
.cn_info_chat_notselect{
    cursor: pointer;
}
.cn_info_chat_notselect:hover{
    background-color: var(--chat-color-blue-strong);
}
