.chatmain_holder{
    position: relative;
    width: calc(100% - var(--chatnav-width));
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
}

.chatmain_container{
    position: relative;
    /*width: 70%;*/
    /*padding: 0 calc(0.3 * var(--chatnav-width));
    padding-bottom: 100px;*/
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatmain_ask{
    width: 70%;
    background-color: #fff;
    border: 1px solid var(--chat-color-gray);
    min-height: var(--chatmain-ask-minheight);
    max-height: var(--chatmain-ask-maxheight);
    border-radius: 25px;
    position: absolute;
    bottom: 15px;
    z-index: 5;
    box-shadow: 0px 8px 20px 0px rgba(43,50,64,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
}

.chatmain_ask_backclick{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    z-index: -1;
}

.chatmain_ask_backwhite{
    width: 95%;
    background-color: #fff;
    bottom: 0;
    height: 125px;
    position: absolute;
    z-index: 3;
}

.chatmain_textarea{
    width: 100%;
    position: relative;
    field-sizing: content;
    overflow-y: scroll;
    max-height: 200px;
    cursor: auto;
}
.chatmain_textarea::placeholder{
    color: var(--chat-color-gray);
}

.chatmain_infoholder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    z-index: 5;
}

.chatmain_info_left{
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

.chatmain_info_right{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.chatmain_info_uploadfile{
    position: relative;
}
.chatmain_info_uploadfile:hover > .chatmain_info_uploadfile_text{
    opacity: 1;
    transform: translateY(0);    
}

.chatmain_info_uploadfile_text{
    position: absolute;
    width: 115px;
    padding: 5px 15px;
    border-radius: 30px;
    pointer-events: none;
    opacity: 0;
    top: -50px;
    left: -45px;
    transition: 0.1s ease-out;
    transform: translateY(-10px);
    background-color: var(--chat-color-gray);
    color: #fff;
}

.chatmain_info_right > div{
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    position: relative;
}
.chatmain_active{
    cursor: pointer;
}
.chatmain_deactive{
    cursor: not-allowed;
}
.chatmain_active:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore-hover);
    color: #fff;
}
.chatmain_deactive:hover{
    background-color: var(--chat-color-gray);
    color: #fff;
}

.chatmain_container_chat{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 calc(0.3 * var(--chatnav-width));
    padding-bottom: 200px;
    overflow: scroll;
}

.chatmain_chatbox{
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    white-space: pre-wrap;
}

.chatmain_chatbox_user{
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}
.chatmain_user{
    /*background-color: var(--chat-color-gray-light-2);*/
    background-color: var(--chat-color-blue-light);
    max-width: 550px;
}