.n_allholder{
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    width: 100vw;
    position: sticky;
    background-color: #fff;
    padding: 10px 25px;
    z-index: 15;
}

.n_logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
}
.n_logo > img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.n_login{
    padding: 7px 14px;
    border-radius: 500px;
    cursor: pointer;
    background-color: var(--color-text-gray-root-light);
    text-align: center;
    transition: 0.1s ease-out;
    height: 37px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.n_login:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore-hover);
    color: var(--color-text-white);
}

.n_info{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    width: max-content;
    padding: 0 25px;
}
.n_logged{
    width: 90px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
}

.n_util{
    transition: 0.1s ease-out;
}
.n_utildefault:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter);
}
.n_utilwhite:hover{
    color: #fff;
}

.n_user{
    cursor: pointer;
    border-radius: 50%;
    border: solid #000 2px;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.n_user > img {
    object-fit: contain;
    /*width: 100%;
    height: 100%;*/
    width: 31px;
}
.n_userdefault:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter);
    border: solid 2px var(--color-text-main-hover-blue-experimental-lighter);
}
.n_userwhite:hover{
    color: #fff;
    border: solid 2px #fff;
}

.n_userholder{
    position: relative;
    width: 30px;
    height: 30px;
}

.n_userbox{
    position: relative;
    transition: 0.1s ease-out;
    left: -140px;
    top:20px;
    width: 200px;
    height: 235px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: end;
}

.n_userinfo{
    position: relative;
    /*transition: 0.1s ease-out;*/
    width: 100%;
    height: 225px;
    border: solid var(--color-text-gray-root-light) 1px;
    /*left: -140px;
    top:20px;*/
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(43,50,64,0.12);
    /*opacity: 0;
    pointer-events: none;*/
    padding: 25px 15px;
    background-color: #fff;
}
.n_userholder:hover > .n_userbox{
    pointer-events: all;
    opacity: 1;
    transform: translateY(-20px);
}

.n_username{
    position: relative;
    color: #575757;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: center;
}

.n_userutils{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-top: 5px;
    height: 100%;
    padding-bottom: 25px;
}

.n_logout{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:15px;
    transition: 0.1s ease-out;
    border-radius: 10px;
}
.n_logout:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore-hover);
    color: #fff;
}
.n_logoutline{
    padding-top: 5px;
    border-top: 2px solid #e5e5e5;
}

.n_userutils > ul > *{
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
    gap: 15px;
    transition: 0.1s ease-out;
    border-radius: 10px;
}
.n_userutils > ul > *:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore-hover);
    color: #fff;
}
.nav_imgexist{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30px;
}
.n_img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}