.r_holder{
    width: 100%;
    height: 100%;
    position: relative;
}

.r_outer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.r_box{
    width: 500px;
    padding: 25px 15px;
    box-shadow: 0px 8px 20px 0px rgba(43, 50, 64, 0.12);
    height: max-content;
    border-radius: 25px;
}

.r_utils{
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-between;
}

.r_util{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.r_create{
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    padding: 3px 15px;
    border-radius: 25px;
    color: #fff;
}
.r_create:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter);
}

.r_create_plus{
    font-size: 25px;
    font-weight: 300;
}

.r_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r_header{
    font-size: 20px;
    margin: 50px 0px;
}

.r_val_outer{
    position: relative;
    width: 100%;
}

.r_val_holder{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.r_val{
    width: 100%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: var(--chat-color-blue-strong-more);
    color: #fff;
}
.r_val:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.r_val_header{
    font-size: 17px;
    font-weight: 700;
}

.r_val_extra{
    width: 100%;
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}

.r_val_exp{
    display: flex;
    gap: 10px;
}
.r_val_exp>span{
    font-weight: 300;
}

.r_line{
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
}

.r_nocreated{
    width: 100%;
    text-align: center;
    margin: 25px 0px;
    font-weight: 300;
    color: var(--chat-color-gray-strong);
}

.r_empty{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--chat-color-gray-strong);
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
}