.s_allholder{
        position: relative;
    width: 100vw;
    height: 100%;
}

.s_mainholder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding: 25px 0px;
}

.s_box{
    position: relative;
    width: 550px;
    box-shadow: var(--default-box-shadow);
    border-radius: 25px;
    padding: 25px 20px;
    min-height: 550px;
}

.s_img{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.s_imgholder{
    position: relative;
    width: 100%;
    height: var(--settings-imgheight);
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_img_dim{
    width: var(--settings-img-circle);
    height: var(--settings-img-circle);
    border-radius: 50%;
    position: relative;
}

.s_loading{
    background: linear-gradient(90deg, var(--loading-edge-col), var(--loading-center-col), var(--loading-edge-col));
    /*background-image: linear-gradient(to right, #656871 0%, #888b94 20%, #656871 40%, #656871 100%);*/
    background-size: 200%;
    animation: skeleton 2s infinite reverse;
}

@keyframes skeleton{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}

.s_loading_box{
    position: relative;
    width: 100%;
    height: 25px;
    border-radius: 25px;
}

.s_content{
    width: 100%;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
}

.s_line{
    width: 100%;
    height: 2px;
    background-color: var(--chat-color-gray-light);
    margin: 25px 0;
}

.s_util{
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 25px;
    font-size: 19px;
    font-weight: 300;
    color: var(--chat-color-gray-strong-more);
}
.s_util:hover{
    background-color: var(--chatnav-color-delete-light);
    color: #fff;
}
.s_blue:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.s_referal{
    width: 100%;
    position: relative;
    padding: 9px 15px;
    text-align: center;
    font-size: 19px;
    font-weight: 200;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 25px;
}
.s_referal:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    color: #fff;
}

.s_icon{
    cursor: pointer;
    border-radius: 50%;
    border: solid #000 5px;
    position: relative;
    transition: 0.1s ease-out;
    height: var(--settings-imgheight);
    width: var(--settings-imgheight);
}
.s_icon:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
    border: solid var(--color-text-main-hover-blue-experimental-lighter-evenmore) 5px;
}

.s_notificationholder{
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0;
    transform: 'scale(0.8)';
    pointer-events: none;
    transition: 0.05s ease-out;
}

.s_notification{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 20px;
    gap: 20px;
    &>div{
        font-weight: 200;
    }
    box-shadow: var(--default-box-shadow);
}

.s_notificationsvg{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: var(--chat-color-gray);
}

.s_notificationred:hover{
    color: var(--chatnav-color-delete-light);
}

.s_notificationgreen{
    width: 24px;
    height: 24p;
}
.s_notificationgreen:hover{
    color: var(--color-walmart-green);
}