.sp{
    position: fixed;
    width: var(--settings-popup-w);
    min-height: var(--settings-popup-h);
    background-color: #fff;
    right: calc((100vw - var(--settings-popup-w)) /2);
    top: calc((0px + var(--nav-height) + var(--settings-popup-h)) /2);
    z-index: 3;
    border-radius: 25px;
    transition: 0.1s ease-out;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
}

.sp_header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sp_close{
    position: absolute;
    right: 0;
    cursor: pointer;
}

.sp_closeblue:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.sp_holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sp_box{
    display: flex;
    position: relative;
    width: 100%;
    border: 2px solid var(--chat-color-gray-light);
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    border-radius: 25px;
    height: 42px;
}
.sp_box:focus-within{
    border: 2px solid var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.sp_input{
    display: block;
    background-color: transparent;
    width: 90%;
}

.sp_inputsvg{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}
.sp_inputsvg:hover{
    color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}

.sp_buttonholder{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp_button{
    font-size: 19px;
    padding: 7px 15px;
    border-radius: 25px;
    color: #fff;
}

.sp_bgblue{
    background-color: var(--color-text-main-hover-blue-experimental-lighter-evenmore);
}
.sp_bgblue:hover{
    background-color: var(--color-text-main-hover-blue-experimental-lighter);
}

.sp_buttoninactive:hover{
    cursor: not-allowed;
}
.sp_buttonactive:hover{
    cursor: pointer;
}

.sp_darkbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.sp_bgred{
    background-color: var(--chatnav-color-delete-light);
}
.sp_bgred:hover{
    background-color: var(--chatnav-color-delete-strong);
}

.sp_closered:hover{
    color: var(--chatnav-color-delete-light);
}

.sp_red{
    color: var(--chatnav-color-delete-light);
}

.sp_deleteadminaccount{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.sp_deleteadminaccount div{
    font-weight: 300;
}