.upi_allholder{
    display: flex;
    gap: 15px;
}

.upi_usernamephone{
    position: relative;
    width: 135px;
    border: 2px solid var(--color-text-faded-gray);
    border-radius: 7px;
    padding: 0px 10px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.upi_numberareacode{
    position: relative;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    color: var(--color-text-faded-gray);
}

.upi_numberinput{
    position: relative;
    width: 60%;
}

.upi_arrow{
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: var(--color-text-faded-gray);
}
.upi_arrow:hover{
    color: var(--color-blue-aapl-stronger);
}

.upi_usernamephoneinput{
    flex: 1;
    position: relative;
    height: 49px;
    border: 2px solid var(--color-text-faded-gray);
    border-radius: 7px;
    padding: 0px 10px;
}
.upi_usernamephoneinput:focus{
    outline: none;
    border: 2px solid var(--color-blue-aapl-stronger);
}

.upi_svgcountry{
    height: 18px;
}

.upi_hover{
    border: 2px solid var(--color-blue-aapl-stronger);
}
.upi_hover div{
    color: var(--color-blue-aapl-stronger);
}

.upi_countryempty{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #d1d1d1;
    background: linear-gradient(45deg,rgba(209, 209, 209, 1) 0%, rgba(156, 156, 156, 1) 100%);
}